# フィードURL 例としてガジェットタグのURL
RSS_FEED_URL=https://note.com/hashtag/%E3%82%AC%E3%82%B8%E3%82%A7%E3%83%83%E3%83%88/rss
# 排除したいユーザIDのカンマ区切りリスト
# https://note.com/{userName}/n/... のようになっているのでそこから指定
EXCLUDED_USERS=fit_hyssop6243,androidgeek
